# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# dist
/dist 

# package.json loc file
package-lock.json

# testing
/coverage

# production
/build
